%body
  .row
    .col-md-8
      .widget.stats-widget
        %header.widget-header
          %h3.widget-title= @commodity_reference.name
          %small.text-color= @commodity_reference.short_description
        .widget-body.clearfix
          %p.m-b-lg= @commodity_reference.long_description
        - if @commodity_reference.generic
          %footer.widget-footer.bg-warning
            %h5 THIS IS A GENERIC COMMODITY
      / .widget
      .widget
        %header.widget-header
          %h4.widget-title.pull-left Commodity Packagings
          %span.pull-right= link_to "Add Packaging", new_app_commodity_reference_packaging_path(@app,@commodity_reference)
        %hr.widget-separator/
        .widget-body
          .table-responsive
            %table.table.no-cellborder
              %thead
                %tr
                  %th Name
                  %th Quantity
                  %th UOM
                  %th Visibility
              %tbody
                - if @commodity_reference.packagings.any?
                  = render @commodity_reference.packagings
                - else
                  %p No packagings found
      / .widget
      .widget
        %header.widget-header
          %h4.widget-title.pull-left Links
          %span.pull-right= link_to "Add Link", new_app_link_path(@app)
        %hr.widget-separator/
        .widget-body
          .table-responsive
            %table.table.no-cellborder
              %thead
                %tr
                  %th{:width => "60%"} Description
                  %th Link
                  %th Visibility
                  %th
              %tbody
                - if @commodity_reference.links.any?
                  = render @commodity_reference.links
                - else
                  %p No links found
      / .widget
      .widget
        %header.widget-header
          %h4.widget-title.pull-left References
          %span.pull-right= link_to "Add Reference", new_app_commodity_reference_reference_path(@app, @commodity_reference)
        %hr.widget-separator/
        .widget-body
          - if @app.references.any?
            = render @app.references
          - else
            %p No references found.
      / .widget
      .widget
        %header.widget-header
          %h4.widget-title.pull-left Specifications
          %span.pull-right= link_to "Add Specification", new_app_commodity_reference_specification_path(@app,@commodity_reference)
        %hr.widget-separator/
        .widget-body
          %table.table.no-cellborder
            %thead
              %tr
                %th Property
                %th Value
                %th Unit of Measure
                %th Visibility
                %th
            %tbody
              - if @commodity_reference.specifications.any?
                = render @commodity_reference.specifications
              - else
                %p No specifications found.
      / .widget
    .col-md-4
      .widget.todo-widget
        %header.widget-header
          %h4.widget-title Commodity State
        %hr.widget-separator/
        .widget-body.p-b-0
          - if @commodity_reference.state
            %p
              Status: #{@state.status.titleize}
            %p= @state.info
            %p= link_to @state.url, @state.url
          - else
            %p No state
        %footer.widget-footer
          = link_to  @commodity_reference.state ? "Update State" : "Set State", new_app_commodity_reference_state_path(@app, @commodity_reference), |
            class: "btn btn-sm btn-primary pull-right load-in-modal"                                                                                |
      .widget.todo-widget
        %header.widget-header
          %h4.widget-title Assign Standard
        %hr.widget-separator/
        .widget-body.p-b-0
          = render 'standardizations/form', referable: @commodity_reference
        %footer.widget-footer
          = link_to "Assign Standard", "#", id: "assign-standard", class: "btn btn-sm btn-primary pull-right"
      .widget.todo-widget
        %header.widget-header
          %h4.widget-title Standards
        %hr.widget-separator/
        .widget-body
          - @commodity_reference.standards.each do |standard|
            %p= standard.name
      .widget.todo-widget
        %header.widget-header
          %h4.widget-title Commodity HSCODE
        %hr.widget-separator/
        .widget-body
          - if @commodity_reference.hscode_subheading
            %p
              %b
                = @commodity_reference.hscode_subheading.category
                \:
              = @commodity_reference.hscode_subheading.description
          - elsif @commodity_reference.hscode_heading
            %p
              %b
                = @commodity_reference.hscode_heading.category
                \:
              = @commodity_reference.hscode_heading.description
          - elsif @commodity_reference.hscode_chapter
            %p
              %b
                = @commodity_reference.hscode_chapter.category
                \:
              = @commodity_reference.hscode_chapter.description
          - elsif @commodity_reference.hscode_section
            %p
              %b
                = @commodity_reference.hscode_section.category
                \:
              = @commodity_reference.hscode_section.description
          - else
            %p No HSCODE assigned
        %footer.widget-footer
          = link_to "Assign HSCODE", "#", class: "btn btn-sm btn-default pull-right", data: { toggle: "modal", target: "#hscodeModal" }
      .widget.todo-widget
        %header.widget-header
          %h4.widget-title Assign UNSPC Code
        %hr.widget-separator/
        .widget-body.p-b-0
          - if @commodity_reference.unspsc_commodity
            %p
              %b
                = @commodity_reference.unspsc_commodity.long_code
                \:
              = @commodity_reference.unspsc_commodity.description
          - else
            %p No UNSPSC code assigned
        %footer.widget-footer
          = link_to "Assign UNSPSC Code", "#", class: "btn btn-sm btn-default pull-right", data: { toggle: "modal", target: "#unspscModal" }
      / .widget
  = render 'hscode_modal'
  = render 'unspsc_modal'