<%= form_for object_url(@parent, @specification) do |f| %>
    <%= errors_for @specification %>

    <div class="form-group">
      <%= f.label :property %>
      <%= f.text_field :property, class: "form-control" %>
    </div>
    <div class="form-group">
      <label class="radio-inline">
        <%= radio_button_tag 'value-opts', 'value', is_checked?(@specification,'value') %> Set Value
      </label>
      <label class="radio-inline">
        <%= radio_button_tag 'value-opts', 'min-max', is_checked?(@specification, 'min-max') %> Define Min / Max
      </label>
    </div>
    <div class="form-group <%= is_checked?(@specification, 'value') ? "" : "hidden" %>" id="value-container">
      <%= f.label :value %>
      <%= f.number_field :value, class: "form-control", step: "0.01" %>
    </div>
    <div  class="row  <%= is_checked?(@specification, 'min-max') ? "" : "hidden" %>" id="min-max-container">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :min %>
          <%= f.number_field :min, class: "form-control", step: "0.01" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :max %>
          <%= f.number_field :max, class: "form-control", step: "0.01" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :filter_uoms %>
          <%= select_tag :type_of_measure, grouped_options_for_select(options_for_property(@app), nil, prompt: "Select Type"), class: "form-control select2", data: { url: uoms_path } %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :uom %>
          <%= f.select :uom, options_for_select(uoms_for_property(@specification.property), @specification.uom), {},  class: "form-control select2"  %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :publishing %>
      <%= f.select :visibility, options_for_visibility(@specification), {}, class: "form-control" %>
    </div>

    <%= f.submit class: "btn btn-primary" %>

<% end %>