<% title "Commodity Live" %>

<!--header-->
<div class="header clearfix">
  <div class="container">
    <div class="header-content">
      <%= image_tag "commodity.live.png", alt: "image" %>
      <p>is an online, worldwide register of commodities: goods and services</p>
      <form>
        <input type="text" class="form-control" placeholder="SEARCH FOR COMMODITY">
        <button type="submit" class="btn btn-brand">SEARCH</button>
      </form>
      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div><!--header-content-->
  </div><!--container-->
</div>
<!--header-->
<%= render 'shared/flash' %>
<!--about-->
<div id="about" class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="img-wrapper">
        <%= image_tag "circle-1.png", alt: "image", class: "img-responsive" %>
        <p class="img-heading">WHY</p>
      </div><!--img-wrapper-->
    </div><!--col-->

    <div class="col-sm-6">
      <p class="desc-1">
        The purpose of COMMODITY.LIVE is to allow for easier collaboration in a globalised market by making sure that everybody talks about the same product or version
      </p>
      <p class="desc-2">
        COMMODITY.LIVE <br>provide you with one common list of all goods and services, both generic ones and specific
      </p>
    </div><!--col-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <p class="desc-1">
        COMMODITY.LIVE <br>allows you to register your own or others products with some basic information and then link to other systems for further information
      </p>
      <p class="desc-2">
        It is meant to be a basis for other systems and easily reachable through APIs
      </p>
    </div><!--col-->

    <div class="col-sm-6">
      <div class="img-wrapper">
        <%= image_tag "circle-2.png", alt: "image", class: "img-responsive" %>
        <p class="img-heading">HOW</p>
      </div><!--img-wrapper-->
    </div><!--col-->
  </div><!--row-->

  <div class="row">
    <div class="col-sm-6">
      <div class="img-wrapper">
        <%= image_tag "circle-3.png", alt: "image", class: "img-responsive" %>
        <p class="img-heading">FOR<br> WHOM</p>
      </div><!--img-wrapper-->
    </div><!--col-->

    <div class="col-sm-6">
      <p class="desc-1">
        COMMODITY.LIVE <br>is open to anyone who want to search for or register their commodity in this worldwide register
      </p>
    </div><!--col-->
  </div><!--row-->
</div>
<!--about-->

<!--signup-->
<div id="signup">
  <div class="container">
    <h1>GET STARTED</h1>
    <h2>Sign up to add commodities</h2>
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="ENTER YOUR EMAIL">
              <span class="input-group-btn">
                <button class="btn btn-brand" type="button">CREATE <span class="hidden-xs">FREE</span> ACCOUNT</button>
              </span>
      </div><!-- /input-group -->
    </form>
  </div><!--container-->
</div>
<!--signup-->

<!--contact-->
<div id="contact">
  <div class="container">
    <h1>CONTACT</h1>
    <h3>Do you have questions, feedback or need support?<br> We are here to help you!</h3>
    <div class="row">
      <div class="col-sm-6">
        <form>
          <input type="text" class="form-control" placeholder="YOUR NAME">
          <input type="text" class="form-control" placeholder="YOUR EMAIL">
          <textarea class="form-control" placeholder="YOUR MESSAGE"></textarea>
          <button type="submit" class="btn btn-brand">SUBMIT</button>
        </form>
      </div><!--col-->

      <div class="col-sm-6">
        <ul class="list-unstyled">
          <li>NTTY AS</li>
          <li>Grensen 12</li>
          <li>0159 Oslo</li>
          <li>info@ntty.com</li>
          <li><a href="#">www.ntty.com</a></li>
        </ul>
      </div><!--col-->
    </div><!--row-->
  </div><!--container-->
</div>
<!--contact-->