- title "Commodity Live Team"

%main#app-main.app-main
  .container
    .wrap
      %section.app-content
        .row
          .col-md-10.col-md-offset-1
            .text-center
              %h2.heading Our team
              %p.heading-meta.m-b-xl
                NTTY is a software development company with a broader aspect and bold mindset, and our portfolio consist of products and services that we believe will change the way we work today.
                Our company is privately held and was founded in 2014. We are located in Oslo, Norway, and additional to three full-time employees, we have a great team of resources from all around the world.
        .team
          .grid
            .grid-sizer
            .grid-item
              .box
                = image_tag "landing/Andreas-Lydersen.jpg", alt: "Andreas Lydersen"
                %strong Andreas Lydersen
                %p Andreas is our CEO and tinkerer. He founded NTTY in 2014, and has since then been working on evolving the company and our portfolio. Andreas has spent his life starting, shutting down, selling, working for and restructuring all kinds of companies. He has worked with hundreds of companies to help them sort out their IT needs, worked with multinational companies and built systems from scratch.
                %a{:href => "mailto:andreas.lydersen@ntty.com"} andreas.lydersen@ntty.com
            .grid-item
              .box
                = image_tag "landing/Fredrik-Holst.jpg", alt: "Fredrik Holst"
                %strong Fredrik Holst
                %p Fredrik works as a Senior Software Engineer, and has been employed in NTTY since we started in 2014. He has played an important role in developing our portfolio.
                %a{:href => "mailto:fredrik.holst@ntty.com"} fredrik.holst@ntty.com
            .grid-item
              .box
                = image_tag "landing/Lene-Habberstad.jpg", alt: "Lene Habberstad"
                %strong Lene Habberstad
                %p Lene is our Communication Coordinator. She has been a part of our team since January 2016, and is working on matters concerning communication and marketing.
                %a{:href => "mailto:lene.habberstad@ntty.com"} lene.habberstad@ntty.com
            .grid-item
              .box
                = image_tag "landing/Joseph-Ndungu.jpg", alt: "Joseph Ndungu"
                %strong Joseph Ndungu
                %p Joseph is our lead rails developer. Even though he lives in Nairobi, Kenya, he feels like family, and has been since 2014.
            .grid-item
              .box
                = image_tag "landing/Svetlana-Miryanova.jpg", alt: "Svetlana Miryanova"
                %strong Svetlana Miryanova
                %p Svetlana is an engaged and very competent UI and UX designer. She lives in Sofia, Bulgaria, and has been a part of our team since April 2016.
      / .app-content
    / .wrap
