<%= form_for [@app,@link] do |f| %>
    <%= errors_for @link %>
    <div class="form-group">
      <%= f.label :url %>
      <%= f.text_field :url, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :commodity %>
      <%= f.select :commodity_reference_id, @app.commodity_references.map {|c| [c.name, c.id] }, {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 4, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :publishing %>
      <%= f.select :visibility, options_for_visibility(@link), {}, class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
<% end %>