.widget.widget-form
  %header.widget-header
    %h4= t("barcodes.title")
    %p.subheading= @parent.name

  .widget-body
    = render 'form'


.widget.widget-form
  %header.widget-header
    %h4= t('barcodes.guide')

  .widget-body
    %table.table.table-bordered
      %tbody
        %tr
          %th{:scope => "row"} BOOKLAND
          %td= t('barcodes.bookland')
        %tr
          %th{:scope => "row"} CODE 128
          %td= t('barcodes.code128')
        %tr
          %th{:scope => "row"} CODE 25 IATA
          %td= t('barcodes.code25iata')
        %tr
          %th{:scope => "row"} CODE 25
          %td= t('barcodes.code25')
        %tr
          %th{:scope => "row"} CODE 25 INTERLEAVED
          %td= t('barcodes.code25interleaved')
        %tr
          %th{:scope => "row"} CODE 39
          %td= t('barcodes.code39')
        %tr
          %th{:scope => "row"} CODE 93
          %td= t('barcodes.code93')
        %tr
          %th{:scope => "row"} EAN 13
          %td= t('barcodes.ean13')
        %tr
          %th{:scope => "row"} EAN 8
          %td= t('barcodes.ean8')
        %tr
          %th{:scope => "row"} QR CODE
          %td= t('barcodes.qrcode')
        %tr
          %th{:scope => "row"} UPC SUPPLEMENTAL
          %td= t('barcodes.upcsupplemental')
