<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <header class="widget-header">
        <h4 class="widget-title pull-left">Packaging: <%= @packaging.name %></h4>
        <span class="pull-right"><%= link_to "Add Specification", new_app_commodity_packaging_specification_path(@app,@commodity,@packaging), class: "load-in-modal" %></span>
      </header>
      <hr class="widget-separator"/>
      <div class="widget-body">
        <p><%= @packaging.description %></p>
        <p>Quantity: <%= @packaging.quantity %></p>
        <p>Uom: <%= @packaging.uom %></p>
      </div>
    </div><!-- .widget -->

    <div class="widget">
      <header class="widget-header">
        <h4 class="widget-title pull-left">Packaging Specifications</h4>
        <span class="pull-right"></span>
      </header>
      <hr class="widget-separator"/>
      <div class="widget-body">
        <table class="table no-cellborder">
          <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
            <th>Unit of Measure</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% if @packaging.specifications.any? %>
              <%= render @packaging.specifications %>
          <% else %>
              <p>No specifications found.</p>
          <% end %>
          </tbody>
        </table>
      </div>
    </div><!-- .widget -->
  </div>
</div>