<h1>App</h1>
<p><%= @app.description %></p>
<p><%= link_to "Edit App", edit_app_path(@app) %> |
  <%= link_to "View Commodities", app_commodities_path(@app) %> |
<%= link_to "Custom Units", app_custom_units_path(@app) %> |
<%= link_to "Measurements", app_measurements_path(@app) %> |
<%= link_to "Links", app_links_path(@app) %></p>