<%= form_for [@app, @reference] do |f| %>
    <%= errors_for @reference %>
    <div class="form-group">
      <%= f.label :kind %><br>
      <%= f.select :kind, options_for_kind, {}, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :source_commodity %>
      <%= f.select :source_commodity_reference_id, [], {prompt: "Search commodities"}, data: { url: app_commodity_references_path(@app, generic: true) },  class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :target_commodity %>
      <%= f.select :target_commodity_reference_id, [], {prompt: "Search commodities"},data: { url: app_commodity_references_path(@app, generic: false) }, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :publishing %>
      <%= f.select :visibility, options_for_visibility(@reference), {}, class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
<% end %>