<p>Source Commodity: <%= reference.source_commodity_reference.name %></p>
<p>Kind: <%= reference.kind %></p>
<p>Target Commodity: <%= reference.target_commodity_reference.name %></p>
<p>Visibility: <%= reference.visibility_status %></p>
<p>Description: <%= reference.description %></p>
<p><%= link_to "View", [@app,reference] %></p>
<hr>