#modalAdd.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.pull-left.m-0 Add info to this commodity
        = link_to "#", class: "pull-right fz-lg text-muted", data: { dismiss: "modal" } do
          %i.fa.fa-times
      .modal-body
        .list-group
          = link_to "Image", "#", class: "list-group-item"
          = link_to "Specification", new_app_commodity_reference_specification_path(current_app, @com_ref), class: "list-group-item"
          = link_to "Classification", "#", class: "list-group-item"
          = link_to "Packaging", new_app_commodity_reference_packaging_path(current_app,@com_ref), class: "list-group-item"
          = link_to "Standard", new_standardization_path(referable_type: "CommodityReference", referable_id: @com_ref.id), class: "list-group-item"
          = link_to "Reference", new_app_commodity_reference_reference_path(current_app,@com_ref), class: "list-group-item"
          = link_to "External Link", new_app_commodity_reference_link_path(current_app,@com_ref), class: "list-group-item"