<%= form_for [@app,@commodity] do |f| %>
    <%= errors_for @commodity %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :measured_in %>
          <%= f.select :measured_in, unitwise_atoms, { prompt: "Select Unit" }, class: "form-control select2"  %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :short_description %>
      <%= f.text_field :short_description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :long_description %>
      <%= f.text_area :long_description, rows: 5, class: "form-control"  %>
    </div>
    <div class="checkbox checkbox-success">
      <%= f.check_box :generic, {}, "true", "false" %>
      <%= f.label :generic %>
    </div>
    <div class="form-group" id="commodity-brand">
      <%= f.label :brand %>
      <%= f.select :brand_id, Brand.all.map{|b| [b.name, b.id]}, { prompt: "Select Brand" },  class: "form-control select2" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
<% end %>