<%= form_for [@app,@commodity] do |f| %>
    <%= errors_for @commodity %>
    <div>
      <%= f.label :short_description %><br>
      <%= f.text_area :short_description, rows: 3 %>
    </div>
    <div>
      <%= f.label :long_description %><br>
      <%= f.text_area :long_description, rows: 5 %>
    </div>
    <div>
      <%= f.label :generic %>
      <%= f.check_box :generic, {}, "true", "false" %>
    </div>
    <div>
      <%= f.label :unspsc_code %><br>
      <select id="unspsc"></select>
    </div>
    <%= f.submit %>
<% end %>