.grid-item.grid-item-20
  .box.segment.segment-edit
    .row
      - if commodity.images.any?
        - image = commodity.images.first
        .col-md-12
          = link_to commodity do
            = image_tag image.url
      .col-md-12
        %h5.p-md.p-l-sm.m-0.m-r-lg.fw-600.fz-md
          = link_to commodity.name, commodity
      .col-md-12
        .standard-row.standard-links
          %small= commodity.short_description
      .col-md-12
        .standard-row.standard-links
          %small Standards
          %p.m-0.fw-700= commodity.standards.map(&:code).join(",")
    .segment-actions
      = link_to edit_commodity_path(commodity), class: "btn-edit" do
        %i.fa.fa-pencil
        Edit
      .segment-state.dropdown
        = render 'shared/pubmode', mode: "Official"
