%ul.nav.nav-tabs.box.m-0{ role: "tablist" }
  %li{ role: "presentation", class: "active" }
    = link_to "#tab-1", aria: { controls: "tab-1" }, data: { toggle: "tab" }, role: "tab" do
      Specifications
  %li{ role: "presentation" }
    = link_to "#tab-2", aria: { controls: "tab-2" }, data: { toggle: "tab" }, role: "tab" do
      Packagings
  %li{ role: "presentation" }
    = link_to "#tab-3", aria: { controls: "tab-2" }, data: { toggle: "tab" }, role: "tab" do
      Standards
  %li{ role: "presentation" }
    = link_to "#tab-4", aria: { controls: "tab-2" }, data: { toggle: "tab" }, role: "tab" do
      References
  %li{ role: "presentation" }
    = link_to "#tab-5", aria: { controls: "tab-2" }, data: { toggle: "tab" }, role: "tab" do
      Classifications
  %li{ role: "presentation" }
    = link_to "#tab-6", aria: { controls: "tab-2" }, data: { toggle: "tab" }, role: "tab" do
      External Links