<div class="row">
  <div class="col-md-8">
    <div class="widget stats-widget">
      <header class="widget-header">
        <h3 class="widget-title"><%= @commodity.name %></h3>
        <small class="text-color"><%= @commodity.short_description %></small>

      </header>
      <div class="widget-body clearfix">
        <p class="m-b-lg"><%= @commodity.long_description %></p>
      </div>
      <% if @commodity.generic %>
          <footer class="widget-footer bg-warning">
            <h5>THIS IS A GENERIC COMMODITY</h5>
          </footer>
      <% end %>
    </div><!-- .widget -->

    <div class="widget">
      <header class="widget-header">
        <h4 class="widget-title pull-left">Commodity Barcodes</h4>
        <span class="pull-right"><%= link_to "Add Barcode", new_commodity_barcode_path(@commodity) %></span>
      </header>
      <hr class="widget-separator"/>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table no-cellborder">
            <thead>
            <tr>
              <th>Format</th>
              <th>Data</th>
              <th>Barcode</th>
            </tr>
            </thead>
            <tbody>
            <%= render @commodity.barcodes %>
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- .widget -->

  </div>

  <div class="col-md-4">
  </div>
</div>