<div class="row">
  <div class="col-md-8">
    <h1><%= @standard.name %></h1>
    <p><%= @standard.description %></p>
  </div>
  <div class="col-md-4">
    <% if user_signed_in? && !@standard.official? %>
        <h2>Is this your Standard</h2>
        <p>Claim it now and start interacting with your fans today!</p>
        <%= link_to "Claim This Standard", "#", class: "btn btn-primary", data: { toggle: "modal", target: "#claimModal" } %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="claimModal" tabindex="-1" role="dialog" aria-labelledby="claimModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="claimModalLabel">Claim Standard</h4>
      </div>
      <div class="modal-body">
        <p>You have requested to claim <b><%= @standard.name %></b>. In order to claim this standard, you must work for or
          be working on behalf of the standard. You must be authorized to claim this Standard</p>
        <%= form_for Ownership.new do |f| %>
            <%= f.hidden_field :child_id, value: @standard.id %>
            <%= f.hidden_field :child_type, value: @standard.class.to_s %>
            <div class="form-group">
              <%= f.label :owning_standard %>
              <%= f.select :parent_id, options_for_standards, {}, class: "form-control" %>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="claim-brand">Submit Claim</button>
      </div>
    </div>
  </div>
</div>