.aside-scroll
  #aside-scroll-inner.aside-scroll-inner
    %ul.aside-menu.aside-left-menu
      %li.menu-item.has-submenu
        %a.menu-link.submenu-toggle{:href => "javascript:void(0)"}
          %span.menu-icon
            %i.zmdi.zmdi-view-dashboard.zmdi-hc-lg
          %span.menu-text.foldable Commodities
          %span.menu-caret.foldable
            %i.zmdi.zmdi-hc-sm.zmdi-chevron-right
        %ul.submenu
          %li= link_to "All Commodities", commodities_path
          %li= link_to "Add Commodity", new_commodity_path
      / .menu-item
      %li.menu-item.has-submenu
        %a.menu-link.submenu-toggle{:href => "javascript:void(0)"}
          %span.menu-icon
            %i.zmdi.zmdi-city-alt.zmdi-hc-lg
          %span.menu-text.foldable Brands
          %span.menu-caret.foldable
            %i.zmdi.zmdi-hc-sm.zmdi-chevron-right
        %ul.submenu
          %li= link_to "All Brands", brands_path
          %li= link_to "Add Brand", new_brand_path
      / .menu-item
      %li.menu-item.has-submenu
        %a.menu-link.submenu-toggle{:href => "javascript:void(0)"}
          %span.menu-icon
            %i.fa.fa-bookmark.fa-lg
          %span.menu-text.foldable Standards
          %span.menu-caret.foldable
            %i.zmdi.zmdi-hc-sm.zmdi-chevron-right
        %ul.submenu
          %li= link_to "All Standards", standards_path
          %li= link_to "Add Standard", new_standard_path
      / .menu-item
      - if user_signed_in?
        - if policy(current_app).invite?
          %li.menu-item
            = link_to new_app_invitation_path(current_app), class: "menu-link" do
              %span.menu-icon
                %i.zmdi.zmdi-accounts-add.zmdi-hc-lg
              %span.menu-text Invite Users
          / .menu-item

      %li.menu-item.has-submenu
        %a.menu-link.submenu-toggle{:href => "javascript:void(0)"}
          %span.menu-icon
            %i.fa.fa-leaf.fa-lg
          %span.menu-text.foldable Classifications
          %span.menu-caret.foldable
            %i.zmdi.zmdi-hc-sm.zmdi-chevron-right
        %ul.submenu
          %li= link_to "All Classifications", app_classifications_path(current_app)
          %li= link_to "Add Classification", new_app_classification_path(current_app)