<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= yield :title %></title>
  <meta name="description" content="Admin, Dashboard, Bootstrap" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300' %>
</head>

<body class="sb-top">
<!--============= start main area -->

<!-- APP ASIDE ==========-->
<aside id="app-aside" class="app-aside top light">
  <div class="container">
    <!-- aside-menu -->
    <div class="aside-menu-wrapper">
      <div id="aside-top-menu-toggle" class="visible-xs-inline-block">
        <button data-toggle="class" data-target="#aside-top-menu" data-class="open" self-toggle="is-active" class="hamburger hamburger--spin js-hamburger" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
      <ul class="sf-menu aside-menu aside-top-menu" id="aside-top-menu">
        <li>
          <a href="javascript:void(0)" class="menu-link">
            <span class="menu-icon"><i class="zmdi zmdi-home zmdi-hc-lg"></i></span>
            <span class="menu-text">Dashboard</span>
          </a>
          <ul>
            <li><a href="index.html">Dashboard 1</a></li>
            <li><a href="dashboard.2.html">Dashboard 2</a></li>
          </ul>
        </li><!-- .menu-item -->

        <li>
          <a href="javascript:void(0)" class="menu-link">
            <span class="menu-icon"><i class="zmdi zmdi-layers zmdi-hc-lg"></i></span>
            <span class="menu-text">Layouts</span>
          </a>
          <ul>
            <li><a href="../default/index.html">Default</a></li>
            <li><a href="../topbar/index.html">Topbar</a></li>
          </ul>
        </li><!-- .menu-item -->

        <li>
          <a href="javascript:void(0)" class="menu-link">
            <span class="menu-icon"><i class="zmdi zmdi-puzzle-piece zmdi-hc-lg"></i></span>
            <span class="menu-text">UI Kit</span>
          </a>
          <ul>
            <li><a href="buttons.html">Buttons</a></li>
            <li><a href="alerts.html">Alerts</a></li>
            <li><a href="panels.html">Panels</a></li>
            <li><a href="lists.html">Lists</a></li>
            <li><a href="icons.html">Icons</a></li>
            <li><a href="widgets.html">Widgets</a></li>
            <li><a href="media.html">Media</a></li>
            <li><a href="tabs.html">Tabs &amp; Accordions</a></li>
            <li><a href="progress.html">Progress</a></li>
          </ul>
        </li><!-- .menu-item -->

        <li>
          <a href="javascript:void(0)" class="menu-link">
            <span class="menu-icon"><i class="zmdi zmdi-pages zmdi-hc-lg"></i></span>
            <span class="menu-text">Pages</span>
          </a>
          <ul>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="price.html">Prices</a></li>
            <li><a href="invoice.html">Invoice</a></li>
            <li><a href="gallery.1.html">Gallery</a></li>
            <li><a href="gallery.2.html">Gallery 2</a></li>
            <li><a href="support.html">FAQ</a></li>
            <li>
              <a href="javascript:void(0)">
                <span>Extras</span>
                <span class="menu-caret"><i class="zmdi zmdi-hc-sm zmdi-chevron-right"></i></span>
              </a>
              <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="password-forget.html">Reset Password</a></li>
                <li><a href="unlock.html">Unlock Screen</a></li>
                <li><a href="404.html">404 Error</a></li>
              </ul>
            </li><!-- .menu-item -->
          </ul>
        </li><!-- .menu-item -->
        <li>
          <a href="javascript:void(0)" class="menu-link">
            <span class="menu-icon"><i class="zmdi zmdi-storage zmdi-hc-lg"></i></span>
            <span class="menu-text">Forms</span>
          </a>
          <ul>
            <li><a href="form.layouts.html">Form Layouts</a></li>
            <li><a href="form.elements.html">Form Elements</a></li>
            <li><a href="form.custom.html">Customized Elements</a></li>
            <li><a href="form.plugins.html">Form Plugins</a></li>
            <li><a href="file-upload.html">File Upload</a></li>
            <li><a href="form.datetime.html">DateTime Pickers</a></li>
            <li><a href="editors.html">Editors</a></li>
          </ul>
        </li><!-- .menu-item -->

        <li>
          <a href="javascript:void(0)" class="menu-link">
            <span class="menu-icon"><i class="zmdi zmdi-chart zmdi-hc-lg"></i></span>
            <span class="menu-text">Charts</span>
          </a>
          <ul>
            <li><a href="charts.flot.html">Flot Charts</a></li>
            <li><a href="echarts.bar.html">Bar echarts</a></li>
            <li><a href="echarts.pie.html">Pie echarts</a></li>
            <li><a href="echarts.line.html">Line echarts</a></li>
            <li><a href="echarts.map.html">Map echarts</a></li>
            <li><a href="echarts.scatter.html">Scatter echarts</a></li>
            <li><a href="echarts.custom.html">Custom echarts</a></li>
          </ul>
        </li><!-- .menu-item -->

        <li>
          <a href="javascript:void(0)" class="menu-link">
            <span class="menu-icon"><i class="zmdi zmdi-pin zmdi-hc-lg"></i></span>
            <span class="menu-text">Maps</span>
          </a>
          <ul>
            <li><a href="map-google.html">Google Maps</a></li>
            <li><a href="map-vector.html">Vector Maps</a></li>
          </ul>
        </li><!-- .menu-item -->

        <li>
          <a href="javascript:void(0)" class="menu-link">
            <span class="menu-icon"><i class="zmdi zmdi-apps zmdi-hc-lg"></i></span>
            <span class="menu-text">Apps</span>
          </a>
          <ul>
            <li>
              <a href="javascript:void(0)">
                <span>Mail Box</span>
                <span class="menu-caret"><i class="zmdi zmdi-hc-sm zmdi-chevron-right"></i></span>
              </a>
              <ul>
                <li><a href="inbox.html">Inbox <span class="badge bg-primary menu-badge">12</span></a></li>
                <li><a href="compose.html">Compose</a></li>
              </ul>
            </li>
            <li><a href="calendar.html">Calendar</a></li>
            <li><a href="contacts.html">Contacts</a></li>
          </ul>
        </li><!-- .menu-item -->
      </ul>
    </div>
    <!-- /aside-menu -->

    <!-- aside-user -->
    <div class="aside-user">
      <ul>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle usertitle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-md avatar-circle">
              <img class="img-responsive" src="../assets/images/221.jpg" alt="avatar"/>
            </div><!-- .avatar -->
          </a>
          <ul class="dropdown-menu animated flipInY">
            <li>
              <a class="text-color" href="/index.html">
                <span class="m-r-xs"><i class="fa fa-home"></i></span>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a class="text-color" href="profile.html">
                <span class="m-r-xs"><i class="fa fa-user"></i></span>
                <span>Profile</span>
              </a>
            </li>
            <li>
              <a class="text-color" href="settings.html">
                <span class="m-r-xs"><i class="fa fa-gear"></i></span>
                <span>Settings</span>
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a class="text-color" href="logout.html">
                <span class="m-r-xs"><i class="fa fa-power-off"></i></span>
                <span>Home</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /aside-user -->
  </div>
</aside>
<!--========== END app aside -->

<!-- APP NAVBAR ==========-->
<nav id="app-navbar" class="app-navbar bg-primary">
  <div class="container">
    <!-- navbar-header -->
    <div id="navbar-header" class="pull-left">
      <div class="animated">
        <%= link_to root_path, class: "app-brand text-white" do %>
            <span id="brand-icon" class="brand-icon"><i class="fa fa-gg"></i></span>
            <span id="brand-name" class="brand-icon foldable"><%= t("sitename") %></span>
        <% end %>
      </div>
    </div>
    <!-- /navbar-header -->

    <!-- navbar nav -->
    <%= render 'layouts/navbar' %>
    <!-- /navbar-nav -->

    <!-- navbar search -->
    <div id="navbar-search" class="navbar-search">
      <form action="#">
        <span class="search-icon"><i class="fa fa-search"></i></span>
        <input class="search-field" type="search" placeholder="search..."/>
      </form>
      <button id="search-close" class="search-close">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <!-- /navbar search -->
  </div>
</nav>
<!--========== END app navbar -->

<!-- APP MAIN ==========-->
<main id="app-main" class="app-main">
  <div class="container">
    <div class="wrap">
      <section class="app-content">
        <%= yield %>
      </section><!-- .app-content -->
    </div><!-- .wrap -->
    <div class="wrap">
      <!-- app-footer -->
      <%= render 'layouts/footer' %>
      <!-- #app-footer -->
    </div>
  </div>
</main>
<!--========== END app main -->
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>