<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= yield :title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag  'application', 'https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300',
                           media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="simple-page">
  <%= yield %>
</body>
</html>